@Charset "utf-8";

body, html {
	font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
	height: 100%;
	margin: 0;
}

.login {
	background-image: url("/hefestosystem/resources/img/image.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	background-color: #034f84;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header>div {
	margin-top: 3px;
	margin-left: 8px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px 0px;
}

p {
	
}

.conteudo {
	margin-top: 70px;
}

.content {
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 80px;
	height: 100%;
}

#center-form {
	position: fixed;
	width: 400px;
	top: 30%;
}

.centralizar-externa {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

.titulo {
	font-style: normal;
	font-family: Helvetica, sans-serif;
	font-weight: 500 !important;
	color: #737373;
}

.listar-acoes {
	text-align: end;
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

.ui-datatable-data div.ui-datepicker {
	position: fixed !important;
	width: min-content !important;
	left: 39% !important;
	top: 33px !important;
}

div.ui-datepicker th, div.ui-datepicker td {
	border: 0 !important;
	border-width: 0 !important;
}

.btn {
	height: 36px !important;
	min-width: 64px !important;
	padding: 0 16px !important;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px
		rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.btn-success {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
}

.btn-error {
	background-color: #ff5252 !important;
	border-color: #ff5252 !important;
}

.btn-primary {
	background-color: #1867c0 !important;
	border-color: #1867c0 !important;
}

.btn-secondary {
	background-color: #5cbbf6 !important;
	border-color: #5cbbf6 !important;
}

.btn-warming {
	background-color: #fb8c00 !important;
	border-color: #fb8c00 !important;
}

.btn-normal {
	background-color: white !important;
	color: rgba(0, 0, 0, 0.87) !important;
	border-color: #f5f5f5 !important;
	box-shadow: none !important;
}

.btn-text .ui-button-text {
	font-size: 0.875rem !important;
	font-weight: 550 !important;
	letter-spacing: 0.0892857143em !important;
	text-indent: 0.0892857143em !important;
	text-transform: uppercase !important;
	user-select: none !important;
	white-space: nowrap !important;
	align-items: center;
	color: inherit;
	display: flex;
	flex: 1 0 auto;
	justify-content: inherit;
	line-height: normal;
	position: relative;
}

th input.ui-inputfield.ui-inputtext {
	display: none !important;
}