@Charset "utf-8";

body {
	
}

header {
	background-color: #034f84;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header>div {
	margin-top: 3px;
	margin-left: 8px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px 0px;
}

p{
}

.conteudo{
	margin-top: 70px;
}

.content{
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 80px;
	height: 100%;
}

#center-form{
	width: 400px;
	margin-top:50px;
}

.centralizar-externa{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
}

.titulo {
	font-style: normal;
	font-family: Helvetica, sans-serif;
	font-weight: 500 !important;
    color: #737373;
}

.listar-acoes {
	text-align: end;
	margin-bottom: 10px;
}